@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject UserState UserState
@inject IAuthService authService

@using CodelineStore.Services

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />
@* Needed for dialogs *@
<MudDialogProvider />
@* Needed for snackbars *@
<MudSnackbarProvider />


<!-- Layout Structure -->
<MudLayout>
    <!-- AppBar -->
    <MudAppBar Elevation="1" Style="height: 85px;">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <img src="images/CodelineStore.jpg" alt="Logo" style="height: 85px; width: 211px; margin-left: 15px" />
        <MudSpacer />
        <MudButton Variant="Variant.Outlined" OnClick="LogOut" Style="background-color: #fff; color: rebeccapurple; border-color: #fff;" Class="ml-3">
            Log Out
        </MudButton>
       

        
    </MudAppBar>

    <!-- Drawer -->
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Style="margin-top:10px">
        <SellerNav />
    </MudDrawer>

    <!-- Main Content -->
    <MudMainContent>
        <article class="content px-4">
            @Body
        </article>
    </MudMainContent>
</MudLayout>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>





@code {
    private bool _drawerOpen = true;
  

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/Login");
    }

    private void LogOut()
    {
        authService.Logout();
        Navigation.NavigateTo("/");
    }

    
}
